* {
    box-sizing: border-box;
}

body {
    background: honeydew;
}

.section {
    width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}

.container {
    display: flex;
    align-items: center;
}

.bar-one {
    justify-content: center;
}

.bar-two {
    justify-content: left;
}

.bar-three {
    justify-content: center;
}

.bar-percentage-ground {
    width: 50%;
    height: 30px;

    border: 2px solid cadetblue;
}

.bar-percentage {
    width: 20%;
    height: 100%;
    background-color: lime;
    animation-name: anim-one;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes anim-one {
    from {
        width: 20%;
    }
    to {
        width: 90%;
    }
}

.bar-in-out {
    width: 200px;
    height: 30px;
    background-color: chocolate;
    animation: anim-two 4s infinite alternate;
}

.bar-in-out:not(:hover) {
    animation-play-state: paused;
}

@keyframes anim-two {
     0% {
         width: 200px;
     }
     100% {
         width: 100%;
     }
 }


.bar-ball {
    width: 200px;
    height: 200px;
    border: 2px solid darkslateblue;
}



